@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#252b2d;
  --foreground: #d6dddc;
  --secondary:#2f3738;
  --accent:#0add87;

}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
